---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Band from '../../components/Band.astro';
import Cta from '../../components/Cta.astro';
import Section from '../../components/Section.astro';
---

<BaseLayout title="About">
	<Band>
		<h2>My Design Philosophy</h2>
		<p>
			I've always believed that design is where <em>art</em> and
			<em>usefulness</em> meet. The key in design is to <em>
				care about people</em>, learn what they need, and serve them in an enjoyable way.
			While good design can solve a problem, great design brings
			enjoyment.
		</p>
		<p>
			This only happens through empathy, listening, and genuine
			understanding. Sometimes this means a design needs to disappear — <em
			>
				to get out of the way
			</em> so people can get things done. Other times it's adding a richness
			to an experience that leaves you delighted.
		</p>
		<p>
			In every case, <strong>
				design is about making the world better for people.
			</strong>
		</p>
		<Cta />
	</Band>
	<Section
		title="My Design Process"
		imagePosition="right"
		imgSrc="/img/projects/workflow.png"
		imgAlt="My workflow"
	>
		<p>
			My UX design process is highly collaborative. I work from early
			research with the users and stakeholders, listening to their needs,
			asking questions, and taking notes. I then spend time thinking
			through what their story looks like.
		</p>
		<p>
			I work with my team, to further define and clarify the user journey
			and begin conceptualizing ideas of how to help them reach their
			goals. Nothing is sacred. Ideas are meant to be questioned,
			criticized, and sometimes scrapped.
		</p>
		<p>
			I progress through this cycle between the user and product team to
			refine ideas until we can present and test early prototypes and
			gather further feedback. Even at this stage, nothing is off the
			table. The purpose is to prove our design model before we commit to
			more time consuming development.
		</p>
		<p>
			A final design begins to take shape. Whether this results in Figma
			comps, or functional web prototyping depends on the needs of our
			team. Development may begin. However, the cycle of testing and
			listening to users continues, with the goal of refining and
			delivering proven and pleasant results.
		</p>
	</Section>
</BaseLayout>
