---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Section from '../../../components/Section.astro';
import Band from '../../../components/Band.astro';
import Details from '../../../components/Details.astro';
---

<BaseLayout title="User Experiences and AI">
	<Band>
		<h2>AI and User Experience</h2>
		<p><em>A quick thought...</em></p>
		<p>
			It's impossible to look forward in any field and ignore the impact
			of AI. For user experience designers, <strong>
				it is vital to advocate for AI patterns and tools that benefit
				and enhance human lives
			</strong>. With careful proactive thought, we can better adapt to
			this exciting emerging technology.
		</p>

		<p>
			For more of my thoughts, I recently wrote a short post about how
			designers should approach AI on LinkedIn:
			<a
				class="link"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.linkedin.com/posts/andrewdc_many-people-ive-spoken-to-feel-that-ai-activity-7340733073027719171-viw9"
			>
				Read it here.
			</a>
		</p>
	</Band>
	<Section
		title="Navigation AI Assistant"
		imagePosition="right"
		imgSrc="arcai"
		imgAlt="arc ai"
		gallery="grid"
		invert="true"
	>
		<div class="detail-block">
			<p>
				At Aroco, I designed and helped integrate an AI assistant
				feature which could take user requests in normal human language,
				and help them find solutions.
			</p>
			<Details
				title2="Contributions"
				extra={[
					'User Research',
					'Visual Design',
					'Interaction Design',
					'Prototyping/Coding',
					'User Testing',
				]}
			/>
		</div>

		<h3>Growing Pains</h3>
		<p>
			As the Arocro platform grew we needed to address how our users would
			navigate around our extensive product and its various modules. I
			spent a lot of time researching and designing a traditional
			navigation system which could accommodate an expending portfolio of
			features, while being intuitive and discoverable by our users.
		</p>
		<h3>Could AI help?</h3>
		<p>
			During this work, useful AI tools had emerged and our team felt it
			would be critical to consider how they might be integrated to
			benefit our users.
		</p>
		<h3>Learning, Building Trust</h3>
		<p>
			The initial scope was optional, working alongside our traditional
			navigation. This was important for building user trust, making AI an
			opt-in experience.
		</p>
		<p>
			The assistant experience included friendly prompt suggestions,
			gently guiding the user toward things they could try.
		</p>
		<p>
			Once the AI assistant responded, the user was given the choice to
			confirm and follow the suggestion, or try something else. This
			allowed users to experiment and choose how the AI could help, rather
			than having it make black box decisions for them.
		</p>
		<h3>Into the future</h3>
		<div class="detail-block">
			<p>
				As this feature took on shape, it was clear AI can deliver an
				interface to the user. This is an exciting and monumental shift
				in how we should consider UX design.
			</p>
			<Details
				title1="Tools"
				primary={['Figma', 'ChatGPT (api)', 'Internal Design System']}
				title2="Collaboration"
				extra={['UX Team', 'Product', 'Development']}
			/>
		</div>
	</Section>
</BaseLayout>

<style>
	a {
		color: #0093ad;
		text-decoration: underline;
	}
</style>
