:root {
  --border-rad: 4px;
  --space-xsm: 4px;
  --space-sm: 8px;
  --space: 16px;
  --space-lg: 32px;
  --space-xlg: 64px;

  --color-bg: #222;
  --color-section: #1f3042;
  --color-band: #fff;
  --color-text: #fff;
  --font-head: "Rokkitt";
  --font-body: "Raleway"
}

html {
  min-width: 550px;
  font-family: var(--font-body), sans-serif;
  background: var(--color-bg);
}

/* Headers and content */

h2 {
  font-family: var(--font-head), helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3.25rem;
  line-height: 120%;
  margin: 0.5em 0 1.2em 0;
   /* letter-spacing: -0.025em; */
}

p {
  margin-bottom:var(--space-lg);
  line-height:185%;
  font-size:20px;
}
.cta {
  display:flex;
  gap:var(--space);
  a {
    border-radius:32px;
    border:1px solid var(--color-section);
    padding:var(--space-sm) var(--space-lg);
  }
}
footer {
  .cta a {
    border-color:#fff;
    color:#fff;
  }
}