---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
import Band from '../components/Band.astro';
import Cta from '../components/Cta.astro';
import Metric from '../components/Metric.astro';
import Stats from '../components/Stats.astro';
import Challenge from '../components/Challenge.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="img/hero.jpg" />
    <meta
      name="description"
      property="og:description"
      content="Andrew Colclough"
    />
    <title>Andrew Colclough - UX & UI Designer</title>
  </head>
  <body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VW7YDCM8G9"
    ></script>
    <script>
      // @ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-VW7YDCM8G9');
    </script>
    <header class="landing-header">
      <Hero
        name="Andrew Colclough"
        title="UX & UI Leader"
        text="Building enjoyable experiences through understanding"
        imgSrc="img/hero.jpg"
      />
      <!--  -->
    </header>
    <main>
      <Band>
        <h2>My Design Philosophy</h2>
        <p>
          I've always believed that design is where <em>art</em> and
          <em>usefulness</em> meet. The goal in design is to learn what people need
          and serve them in an enjoyable way. While good design can solve a problem,
          great design brings enjoyment.
        </p>
        <p>
          This only happens through empathy, listening, and genuine
          understanding. Sometimes this means a design needs to disappear — <em>
            to get out of the way
          </em> so people can get things done. Other times it's adding a richness
          to an experience that leaves you delighted.
        </p>
        <p>
          In every case, <strong>
            design is about making the world better for people.
          </strong>
        </p>
        <Cta />
      </Band>

      <Section
        title="ExakTime: Sign-up Refresh"
        imagePosition="right"
        imgSrc="/img/projects/etsignup.gif"
        imgAlt="ExakTime Sign-up Refresh"
      >
        <p>
          At Arcoro, our time tracking application ExakTime had a quick set-up
          flow that was clunky and due for a refresh. The sign up flow needed to
          be self-serve, and minimize friction for the user. Additionally, it
          needed an aesthetic refresh that was on brand, and built excitement as
          the user was onboarded to ExakTime.
        </p>

        <p>
          The resulting design combined elements of our new brand, and also
          streamlined the process into clear steps, allowing our users to focus
          on the one current thing they needed to do with zero distractions.
        </p>

        <p>
          UI hints were added to help avoid mistakes, and give the user a
          preview of how the information they entered would effect their system.
          For instance, the Company Url field gives immediate feedback based on
          what is entered.
        </p>
        <!-- <Stats>
          <Metric user="people" stat="100%" improvement="better things" />
          <Metric user="people" stat="100%" improvement="better things" />
          <Metric user="people" stat="100%" improvement="better things" />
        </Stats> -->
      </Section>

      <Section
        title="ExakTime: Time Off"
        imagePosition="right"
        imgSrc="et-timeoff"
        imgAlt="ExakTime Time Off Management"
        gallery="grid"
      >
        <p>
          Time off management was a critical feature for our users at Arcoro.
          Our administrators needed to be able to create and assign time off
          plans, our supervisors needed to approve requests for their teams, and
          our crew member users needed to be able to easily see their time off
          balances, and make requests.
        </p>
        <Challenge>
          <div slot="challenge">
            <p>
              Time off plan tiers are incredibly complex, having many
              conditional rules. It requires a lot of attention to detail not to
              make mistakes with how time is calculated.
            </p>
          </div>
          <div slot="solution">
            <p>
              Our UX team designed an intuitive system for plan administrators
              to create complex tier-based plans. The math for each tier was
              pre-calculated and filled based on a previous tier, allowing the
              admins to clearly understand each segment, and rapidly add tiers a
              step at a time without making errors.
            </p>
          </div>
        </Challenge>
        <p>
          For supervisors and crew members, we created a simple visual system to
          easily make, approve, and modify time off requests via our mobile
          application. Plan types, balances, and statuses were easily
          understandable at a glance, streamlining the process for all users.
        </p>
        <h3>Outcomes</h3>
        <Stats>
          <Metric
            user="Admins:"
            stat="Simple"
            improvement="plan creation and management"
          />
          <Metric
            user="Supervisors:"
            stat="Timely"
            improvement="requests and approvals"
          />
          <Metric
            user="Crew Members:"
            stat="Visible"
            improvement="balances and requests"
          />
        </Stats>
      </Section>
    </main>
    <Section
      title="PowerSchool: Design System"
      imagePosition="right"
      imgSrc="powerschool"
      imgAlt="Img Alt"
      gallery="grid"
    >
      <p>
        I was tapped, along with two other developers to build a company-wide
        design system for PowerSchool from the ground up. It is a component
        library built with Sass, Angular 2, and Polymer, and consumed by several
        applications.
      </p>
      <p>
        In the process our team overhauled our UX/UI library, enuring that all
        existing and future interfaces were accessible and up to WCAG, and ADA
        standards.
      </p>
      <p>
        The system utilizes a flexible theme system, where we can provide the
        base design for the organization, but also allow each team the
        flexibility to customize and extend the library to fit their
        application's unique needs.
      </p>
      <h3 class="outcomes">Outcomes</h3>
      <Stats>
        <Metric user="Design & Dev:" stat="1" improvement="source for UI/UX" />
        <Metric
          user="User profiles:"
          stat="4"
          improvement="Admins, Teachers, Parents, Students"
        />
        <Metric
          user="School Systems:"
          stat="15,000"
          improvement="unified user experiences"
        />
      </Stats>
    </Section>

    <Section
      title="Incomm: Design System"
      imagePosition="right"
      imgSrc="incomm"
      imgAlt="Img Alt"
      gallery="grid"
    >
      <p>
        At Incomm, I teamed up with another designer to build a modular Sass
        design system. At the time, design systems were only just begining to
        gain popularity. We built this from the ground up with some innovative
        tools, which allowed any application to customize the theme of our
        components, but then also have a safe fallback to our base UX design.
      </p>
      <p>
        This system (which we called Nxsass) allowed us to create and support
        several teams and applications across our organization. Also, we had a
        great area for prototyping user experience, and interface designs.
      </p>
    </Section>
    <Section
      title="My Design Process"
      imagePosition="right"
      imgSrc="/img/projects/workflow.png"
      imgAlt="My workflow"
    >
      <p>
        My UX design process is highly collaborative. I work from early research
        with the users and stakeholders, listening to their needs, asking
        questions, and taking notes. I then spend time thinking through what
        their story looks like.
      </p>
      <p>
        I work with my team, to further define and clarify the user journey and
        begin conceptualizing ideas of how to help them reach their goals.
        Nothing is sacred. Ideas are meant to be questioned, criticized, and
        sometimes scrapped.
      </p>
      <p>
        I progress through this cycle between the user and product team to
        refine ideas until we can present and test early prototypes and gather
        further feedback. Even at this stage, nothing is off the table. The
        purpose is to prove our design model before we commit to more time
        consuming development.
      </p>
      <p>
        A final design begins to take shape. Whether this results in Figma
        comps, or functional web prototyping depends on the needs of our team.
        Development may begin. However, the cycle of testing and listening to
        users continues, with the goal of refining and delivering proven and
        pleasant results.
      </p>
    </Section>
    <!-- <Section
        title="Prototypes"
        text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique voluptatum corrupti dolore, assumenda sapiente unde consectetur, magni laboriosam deserunt nisi, cupiditate sunt quam fuga omnis sed nulla. Soluta, quam."
        imagePosition="right"
        imgSrc="img/img_01.jpg"
        imgAlt="Img Alt"
      />
      <Section
        title="Testing and Improvement"
        text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique voluptatum corrupti dolore, assumenda sapiente unde consectetur, magni laboriosam deserunt nisi, cupiditate sunt quam fuga omnis sed nulla. Soluta, quam."
        imagePosition="right"
        imgSrc="img/img_01.jpg"
        imgAlt="Img Alt"
      />
      <Section
        title="Design Systems"
        text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique voluptatum corrupti dolore, assumenda sapiente unde consectetur, magni laboriosam deserunt nisi, cupiditate sunt quam fuga omnis sed nulla. Soluta, quam."
        imagePosition="right"
        imgSrc="img/img_01.jpg"
        imgAlt="Img Alt"
      />
      <Section
        title="Bonus: Illustration"
        text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique voluptatum corrupti dolore, assumenda sapiente unde consectetur, magni laboriosam deserunt nisi, cupiditate sunt quam fuga omnis sed nulla. Soluta, quam."
        imagePosition="right"
        imgSrc="img/img_01.jpg"
        imgAlt="Img Alt"
      /> -->
  </body>
</html>
<Footer
  title="Let's connect!"
  address="Example Address, 6 - Somewhere in the world (99999), Spain"
  text="email, linkedin, etc"
/>
