---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Section from '../../components/Section.astro';
import Metric from '../../components/Metric.astro';
import Stats from '../../components/Stats.astro';
import Challenge from '../../components/Challenge.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import Masonry from '../../components/Masonry.astro';
---

<BaseLayout title="Design">
	<h2>Featured Design Projects</h2>
	<div class="projects">
		<ProjectCard
			what="AI Navigation Assistant"
			who="Arcoro | ExakTime"
			imgSrc="/img/projects/aiux.png"
			brief="An AI interface that responds to user needs"
			url="/design/aiux"
		/>
		<ProjectCard
			what="HR App Time-Off Feature"
			who="Arcoro | ExakTime"
			imgSrc="/img/projects/timeoff-cover.png"
			brief="A feature built to serve Administrators, Supervisors, and Crew Members"
			url="/design/et-time-off"
		/>
		<!-- <ProjectCard
			what="Sign-up Refresh"
			who="Arcoro | ExakTime"
			imgSrc="/img/projects/et-signup.png"
			brief="An onboarding flow design to walk the user through the process"
			url="/design/et-signup"
		/> -->
		<ProjectCard
			what="Design System"
			who="Powerschool"
			imgSrc="/img/projects/pds-cover.png"
			brief="Built from the ground up to serve Administrators, Teachers, and Parents across 15,000 school systems"
			url="/design/pds"
		/>
		<ProjectCard
			what="Design System"
			who="Incomm Digital"
			imgSrc="/img/projects/nxsass.png"
			brief="Built to deliver modular UI/UX with Scss before component libraries existed"
			url="/design/nxsass"
		/>
		<ProjectCard
			what="Practice Performer"
			who="PressGaney"
			imgSrc="/img/projects/pg-cover.png"
			brief="Designing at-a-glance health system improvement data"
			url="/design/pg"
		/>
	</div>

	<h2>Additional Designs</h2>

	<p>
		In my 15+ years as a designer, I have had the pleasure of working across
		very diverse industries (and with many incredible people), including
		Healthcare, Fintech, Education, Construction, Human Resources, and even
		Games. Every case has presented unique challenges serving users with
		wildly different needs and expectations. Here is a selection of
		interfaces, prototypes, and experiences I have created and worked on
		along this journey:
	</p>

	<Masonry folder="design-snaps" />
</BaseLayout>

<style>
	.projects {
		display: grid;
		grid-template-columns: repeat(2, minmax(400px, 1fr));
		gap: 4rem;
	}
	@media (max-width: 1200px) {
		.projects {
			margin: 0 auto;
			/* max-width: 768px; */
			grid-template-columns: minmax(400px, 1fr);
		}
		/* h2 {
			margin-left: 0 auto;
			max-width: 768px;
		} */
	}
	@media (max-width: 768px) {
		.projects {
			/* padding: 0 var(--space-lg); */
			gap: var(--space-lg);
			grid-template-columns: 1fr;
		}
	}
</style>
