---
// @ts-nocheck
---

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 3rem;
	}

	.block {
		padding: 1.5rem;
		border-radius: 0.75rem;
		/* background: #f8f8f8; */
		border-top: 4px solid #999;
		border-bottom: 4px solid #999;
	}

	.challenge {
		border-color: var(--color-cha);
		h3 {
			color: var(--color-cha);
		}
	}

	.solution {
		border-color: var(--color-suc);
		h3 {
			color: var(--color-suc);
		}
	}

	@media (min-width: 768px) {
		.wrapper {
			flex-direction: row;
		}

		.block {
			flex: 1;
		}
	}
</style>

<div class="wrapper">
	<div class="block challenge">
		<h3>Challenge</h3>
		<slot name="challenge" />
	</div>
	<div class="block solution">
		<h3>Solution</h3>
		<slot name="solution" />
	</div>
</div>
