<div class="cta">
	<a
		href="http://www.linkedin.com/in/andrewdc

"
		target="_blank"
		rel="noopener noreferrer"
	>
		Connect with me on LinkedIn
	</a>
	<a
		href="https://drive.google.com/file/d/1cEdhCwq2c_LoSzc7invI8kRxw-OhpSWh/view?usp=sharing"
		target="_blank"
		rel="noopener noreferrer"
	>
		My Resume
	</a>
</div>

<style>
	.cta {
		padding: var(--space-xlg) var(--space-lg);
		justify-content: center;
		flex-wrap: wrap;
	}
	a {
		background: linear-gradient(120deg, #325275, #486e97, #2e5075);
		background-size: 200% 100%;
		background-position: 100% 0;
		transition: background-position 0.5s;
	}
	a:hover {
		background-position: 0 0;
	}
	@media (max-width: 1200px) {
		.cta {
			padding: var(--space-lg) 0;
		}
	}
</style>
