---
const { name, title, text, imgSrc } = Astro.props;
---

<section class="hero" style={`background-image: url(${imgSrc});`}>
  <div class="content">
    <h1 class="">
      <span class="name">{name}</span>
      <span class="title">{title}</span>
    </h1>
    <!-- <h2 class="subhead">
      {text}
    </h2> -->
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 65vh;
    transition: all 0.25s ease-in-out;
  }
  .hero {
    transition: all 0.2s ease-in-out;
  }
  .content {
    margin: var(--space);
  }
  h1 {
    font-family: var(--font-head), serif, system-ui;
    font-size: 3.5em;
text-align: right;
    color: #000;
    /* line-height: 150%; */
    /* margin: var(--space-lg) var(--space-lg) var(--space-lg); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    transition: all 0.25s ease-in-out;
    /* gap: var(--space); */
  }
  .name {
    font-weight: 600;
  }
  .title {
    font-weight: 100;
    font-size: 0.6em;
    text-align: right;
  }
  @media (min-width: 1200px) {
    /* .hero {
      background-position-y: -50px;
    } */
  }
  @media (max-width: 1200px) {
    .hero {
      background-position-y: 20px;
    }
    h1 {
      font-size: 3em;
    }
    section {
      /* padding: var(--space-xlg) 10vw; */
    }
  }
  @media (max-width: 768px) {
    .hero {
      /* background-position-y: 50px; */
    }
    .content{
      margin: 41vh auto 0 auto;
    }
    section {
      background-size: contain;
      background-position: center;
      min-height: 37vh;
    }
    h1 {
      font-size: 2em;
      justify-content: center;
      align-items: center;
    }
  }
</style>
