---
const { name, title, text, imgSrc } = Astro.props;
---

<section
  class="bg-gray-900 bg-cover bg-center"
  style={`background-image: url(${imgSrc}); background-size: cover; background-repeat: no-repeat;`}
>
  <div
    class="bg-overlay "
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class=""
      >
       <span>{name}</span> <span>{title}</span> 
      </h1>
      <h2
        class="subhead"
      >
        {text}
      </h2>
    </div>
  </div>
</section>

<style>
  section {
    padding:var(--space-lg);
  }
  h1 {
    display:flex;
    flex-wrap: wrap;
    gap:var(--space-lg);
    font-size:6em;
    font-weight:600;
  }
</style>
