---
// @ts-nocheck
import left from '../assets/draws/left.png?url';
console.log('left:', left);
import mid from '../assets/draws/mid.png?url';
import right from '../assets/draws/right.png?url';
---

<!-- <a class="left" style={`background-image: url(${left});`} href="/design"> -->
<section class="paths">
	<a class="left" href="/design">
		<span>UX Design</span>
	</a>
	<a class="mid" href="/design">
		<span>Illustration</span>
	</a>
	<a class="right" href="/about">
		<span>About Me</span>
	</a>
</section>

<style>
	.paths {
		padding: var(--space-xlg);
		display: flex;
		justify-content: space-around;
	}
	a {
		font-size:32px;
		display: flex;
		place-items: center;
		place-content: center;
		/* color: #fff;
		background: #000; */
		padding: var(--space-sm) var(--space-lg);
		/* background: linear-gradient(120deg, #121e2b, #283f55, #111d2b); */
		background-size: 200% 100%;
		background-position: 100% 0;
		transition: background-position 0.5s;
		/* border-color: #000000; */
		/* border-radius: 32px; */
		/* border: 1px solid #00000080; */
		color: #000;


		/* width: 200px;
		height: 200px; */
		/* background-size: cover;
		background-position: center; */
	}
	a:hover {
		background-position: 0 0;
	}
	@media (max-width: 768px) {
		.paths {
			padding: var(--space-lg);
		}
		a {
			font-size:20px;
		}
	}
</style>
