---

---

<div class="stats">
	<slot />
</div>

<style>
	.stats {
		display: flex;
		/* flex-wrap: wrap; */
		gap: var(--space);
	}
	@media (max-width: 728px) {
		.stats {
			flex-direction: column;
			gap: var(--space-sm);
		}
	}
</style>
